.cat{
  background: mediumpurple;
  border-radius: 10px;
  box-shadow: 0 1px 20px rgba(0,0,0,0.25), 0 1px 10px rgba(0,0,0,0.22);
  .description{
    padding: 0 15px 10px;
    color: white;
    .main-info{
      display: flex;
      justify-content: space-between;
      text-transform: capitalize;
      margin-bottom: 10px;
    }
    .price{
      text-align: center;
    }
  }
}